{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true
  },
  "globals": {
    "angular": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "no-console": "off",
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "spaced-comment": ["error", "always"],
    "keyword-spacing": "error",
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true
      }
    ]
  }
}
