@import 'base/variables';

.repos-list {
  display: flex ;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: calc(20% - 10px);
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    transition: all .15s;

    @media screen and (max-width: 1023px) {
      width: calc(25% - 10px);
    }

    @media screen and (max-width: 767px) {
      width: calc(50% - 10px);
    }
  }
}


.repo-item {
  &__number {
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__image {
    display: block;
    width: 150px;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
    transform: perspective(160px) translate3d(0, 0, 0);
    transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(#000, 0.3);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &:hover {
      box-shadow: 0 15px 30px rgba(#000, 0.3);
    }

    img {
     display: block;
    }
  }

  &__link {
    color: $cerulean;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
