*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: $shark-dark;
  text-align: left;
  background-color: $seashell;
}

// Remove top margins from headings
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}
